/* 设置头部 */
header {
    height: 100px;
    background: #4a4a4a;
}

.head {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    margin-top: 35px;
    width: 354px;
}

nav {
    display: inline-block;
    height: 100px;
    vertical-align: top;
}

nav a {
    color: #fff;
    font-size: 18px;
}

nav a:hover {
    color: #00a0e9;
}

nav span {
    height: 16px;
    border: 1px solid #999;
    margin: 50px 19px 0;
    display: inline-block;
}

/* 内容部分开始 */
.cont {
    width: 1100px;
    margin: 80px auto 0;
    height: 1000px;
    /* background: #ccc; */

    font-size: 0;

}

.title {
    height: 48px;
    line-height: 48px;
    font-size: 46px;
    text-align: center;
    font-weight: 400;
}

.left {
    width: 750px;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.3); */
    display: inline-block;
    vertical-align: top;


}

.right {
    width: 250px;
    padding-left: 49px;
    height: 100%;
    /* background: rgba(0, 255, 0, 0.3); */
    display: inline-block;
    margin-left: 50px;
    border-left: 1px #dedede solid;
}

.tips {
    height: 70px;
    line-height: 60px;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
}

.tips span {
    color: #999;
}

.tips a {
    color: #00a0e9;
}

/* 内容部分结束 */
/* 详情部分 */
.news {
    padding-top: 60px;
}

.news img {
    height: 400px;
    display: block;
    margin: 0 auto;
}

.news p {
    line-height: 30px;
    font-size: 14px;
    color: #999;
    padding-bottom: 28px;
}

/* 右侧内容化 */
.qr {
    width: 248px;
    height: 248px;
    border: 1px solid #dedede;
}

.views {
    line-height: 42px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 18px;
    color: #666;
}

.btn {
    height: 70px;
    background: #00a0e9;
    line-height: 70px;
    text-align: center;
    color: #FFF;
    display: block;
    font-size: 24px;
}

/* 详情部分结束 */
/* 底部开始 */
footer {
    height: 300px;
    background: #4a4a4a;
}

.foot {
    width: 1100px;
    height: 300px;    
    margin: 0 auto;
    display: inline-block;
}
.foot1 {  
    width: 415px; 
    height: 100px;
    padding: 100px 0;
    color: #999;  
   
}
.foot p {
    font-size: 14px;
    line-height: 30px;    
    padding-bottom: 15px;
    border-bottom: 1px solid #999;
}
.foot2 {
    font-size: 14px;
    line-height: 30px;
}
.foot2 a {
    color: #00a0e9;
    margin-left: 20px;
}
.foot2 a:nth-child(1) {
    margin-left: 0;
    margin-right: 10px;
}
.foot2 span {
    display: block;
} 
footer .img {
    display: inline-block;
}
