*{
    margin: 0;
    padding: 0;
}
body{
    background: #f8f8f8;
}
header{
    width: 100%;
    height: 8.5rem;
    color: #fff;
    background-color: #00AAEE;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    vertical-align: top;
    h2{
        font-size: 3.2rem;
        font-weight: 400;
    }
    p:nth-child(1){
        width: 6rem;
        font-size: 3rem;
        height: 3rem;
        margin-left: 2.7rem;
        background: url('../images/04首页_slices/返回.png') no-repeat 100%;
    }
    p:nth-child(3){
        width: 3.7rem;
        background: url('../images/caidan.png') no-repeat;
        height: 2.7rem;
        margin-right: 2.7rem;
    }
}
nav{
    width: 100%;
    height: 25.5rem;
    img{
        width: 100%;
        height: 25.5rem;
    }
}
ul{
    width: 100%;
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background: #fff;
    li{
        flex: 1;
        min-width: 20rem;
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        p{
            font-size: 2.3rem;
            color: #333333;
            margin-top: 2.3rem;
        }
        img{
            width: 5.1rem;
            height: 5.1rem;
        }
    }
    li:nth-child(3),li:nth-child(6){
        border-right: none;
    }
    li:nth-child(4),li:nth-child(5),li:nth-child(6){
        border-bottom: none;
    }
}
footer{
    display: flex;
    width: 100%;
    height: 8.5rem;
    background: #fff;
    position: fixed;
    bottom: 0;
    div{
        flex: 1;
        height: 8.5rem; 
        font-size: 1.8rem;
        color: #848484;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        img{
            // display: block;
            width: 4rem;
            height: 4rem;
            
        }
    }
    div:nth-child(1){
        color: #00AAEE;
    }
}
.box{
    display: none;
    width: 24.5rem;
    height: 61rem;
    background: transparent;
    position: absolute;
    z-index: 100;
    right: 2.7rem;
    top:5.7rem;
    .box1{
       
        width: 100%;
        height: 2rem;
        background: url('../images/04首页_slices/') no-repeat 100% ;
       
    }
    .box2{
        
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60rem;
        background: #fff;
        span{
            flex: 1;
            margin: 0  2rem ;
            border-bottom: 1px solid #999; 
            font-size:2.8rem;
            color: #000; 
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            
            img{
                width: 3.6rem;
                height: 3.6rem;
                margin-right: 1.7rem;
            }
        }
        span:nth-child(7){
            border: none;
        }
    }
}