* {
    margin: 0;
    padding: 0;
}
a {
    color: #333;
    text-decoration: none;
}

/* 设置头部 */
header {
    height: 100px;
    background: #4a4a4a;
}
.head {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}
.logo {
    display: inline-block;
    margin-top: 35px;
    width: 354px;
}
nav {
    display: inline-block;
    height: 100px;
    color: #000;
    vertical-align: top;
}
nav a {
    color: #fff;
    font-size: 18px;
}
nav span {
    display: inline-block;
    height: 16px;
    border-left: 1px solid #999;
    margin: 50px 19px 0;
}
nav a:hover {
    color: #00a0e9;
}