.box {
    width: 656px;
    height: 44px;
    margin: 100px auto;
    display: flex;
}

.text {
    border: 2px solid #c4c7ce;
    border-right: 0;
    width: 546px;
    height: 44px;
    /* position: absolute; */
    border-radius: 10px 0 0 10px;
}

.submit {
    width: 108px;
    height: 44px;
    font-size: 17px;
    border: none;
    background-color: #4e6ef2;
    color: #fff;
    border-radius: 0 10px 10px 0;
    opacity: 0.9;
    cursor: pointer;
}

.submit:hover {
    opacity: 1;
}

.icon-xiangji1 {
    font-size: 20px;
    position: relative;
    top: 13px;
    left: -140px;
}

.icon-xiangji1:hover {
    color: #4e6ef2;
    cursor: pointer;
}

.icon-xiangji1:hover .aa {
    color: #333;
    display: block;
}

.aa {
    width: 80px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    top: 40px;
    left: -46px;
    display: none;
}