body {
    background: #e2e2e2;
}
header {
    height: 9.8rem;
    background: #F9F9F9;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
}
header h1 {
    line-height: 9.8rem;
    font-size: 3.4rem;
    color: #DA2A2A;
    position: relative;
}
header h1 img {
    width: 3.5rem;
    height: 2.3rem;
    display: inline-block;
    position: absolute;
    left: 5.7rem;
    top: 3.75rem;
}
.banner,.banner img {
    width: 75rem;
    height: 33.5rem;
}
.banner {
    margin-top: 11.3rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    position: relative;
}
.cont {
    display: flex;
    width: 225rem;
}
.pot {
    width: 100%;
    position: absolute;
    height: 8rem;
    background: rgba(0,0,0,0.1);
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pot span {
    width: 2rem;
    height: 2rem;
    background: #fff;
    border-radius: 50%;
    margin: 0 1.3rem;
    transition: all 1s;
}
.pot span.act{
    background: #F46259;
}

/* content部分 */
.content {
   height: 68.6rem;
   background: #ffffff;
   overflow: hidden;
}
.content .wp1 {
    width: 33rem;
    height: 7.1rem;
    background: #F46259;
    border-radius: 3.55rem ;
    margin-top: 2.1rem;
    margin-left: 2.7rem;
    display: flex;
    align-items: center;
}
.content .wp1 img {
    width: 6.6rem;
    height: 6.6rem;
    border-radius: 50%;
    margin-right: 2.2rem;
}
.content .wp1 p {
    font-size: 3.4rem;
    color: #FFFFFF;
    height: 3.1rem;
    line-height: 3.1rem;
}
.content .wp2 {
    height: 23.3rem;
    width: 100%;
    margin-top: 2.4rem;
    margin-bottom: 1rem;
    padding-left: 2.7rem;
    display: flex;
    overflow: hidden;
}
.content .wp2-1 {
    width: 14.7rem;
    height: 100%;
    margin-right: 5.8rem;
}
.content .wp2-1 img {
    width: 14.7rem;
    height: 14.7rem;
    border-radius: 50%;
}
.content .wp2-1 p:nth-of-type(1) {
    font-size: 3.2rem;
    color: #333333;
    text-align: center;
}
.content .wp2-1 p:nth-of-type(2) {
    font-size: 2.4rem;
    color: #ABABAB;
    text-align: center;
    margin-top: 1.5rem;
}
.content .wp2-1 p span {
    color:  #F46259;
}
.content .wp4 {
    padding: 0 2.7rem;
}
.content .wp3 {
   padding:1rem 0 2rem;
    display: flex;
    border-bottom: 0.1rem solid #dddddd;
}
.content .wp3  img {
    width: 11rem;
    height: 11rem;
    background: #E2E2E2;
    border-radius: 1rem;
}
.content .wp3 .wp3-1 {
    width: 100%;
    margin-left: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content .wp3 .wp3-1 p:nth-child(1){
    font-size: 3.2rem;
    color: #444444;
    position: relative;
    width: 100%;
}
.content .wp3 .wp3-1 p:nth-child(1) span{
    font-size: 1.8rem;
    color: #5A5A5A;
    position: absolute;
    right: 0;
    bottom: 0;
}
.content .wp3 .wp3-1 p:nth-child(2){
    font-size: 2.6rem;
    color: #ABABAB;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 48rem;
}
.content .wp4>div:nth-child(2) {
    border: none;
}
.content .wp5 {
    font-size: 2rem;
    text-align: right;
    height: 4.6rem;
    line-height: 4.6rem;
}
.content .wp5 a {
    color: #F46259;
}
/* content1部分 */
.content1 {
    margin-top: 2rem;
}
.content1 ul li {
    height: 82.8rem;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
}
.content1 li .li-1{
    font-size: 3.4rem;
    color: #333333;
    height: 9rem;
    line-height: 9rem;
    margin-left: 3.7rem;
    margin-top: 2.4rem;
    display: flex;
   
}

.content1 li .li-1 .img {
    width: 9rem;
    height: 9rem;
    background: url('../images/10.png') no-repeat center center/120% 120%;
    border-radius: 50%;
    margin-right: 2.3rem;
    z-index: 200;
    box-shadow: 0 0 0.5rem 0.5rem #FFFFFF;
}
.content1 li .li-2 {
    height: 33.5rem;
    padding: 0 1.4rem 0 1.4rem;
    position: absolute;
    top: 9.8rem;
    left: 0;
}
.content1 li .li-2 img {
    width: 72.2rem;
    height: 33.5rem; 
}
.content1 li .li-2-1 {
    /* padding: 0 1.4rem 0 1.4rem; */
    width: 69rem;
    position: absolute;
    height: 7rem;
    background: #010101;
    opacity: 0.78;
    left: 1.4rem;
    bottom: 0;
    font-size: 2.8rem;
    color: #FFFFFF;
    line-height: 7rem;
    padding-left: 3.3rem;
}
.content1 li .li-3 {
    height: 25rem;
    padding: 0 2.7rem ;
    margin-top: 34.8rem;
  
}
.content1 li .li-3 .li-3-1 {
    padding-bottom: 1.6rem;
    display: flex;
    border-bottom: 0.1rem solid #dddddd;
}
.content1 li .li-3 .li-3-1 .img {
    width: 10.9rem;
    height: 10.9rem;
    margin-right: 2.4rem;
    background: url('../images/12.png') no-repeat -2.5rem center;
}
.content1 li .li-3 .li-3-1 p {
    font-size: 3.2rem;
    font-family: STHeiti;
    color: #333333;
    height: 10.9rem;
    line-height: 10.9rem;
}
.content1 li .li-3>div:nth-child(2) {
    border-bottom: none;
}
.content1 li .li-3>div:nth-child(2) .img {
    width: 10.9rem;
    height: 10.9rem;
    margin-right: 2.4rem;
    background: url('../images/13.png') no-repeat -2.5rem center;
}
 .li-4 {
    margin: 0 2.6rem;
    height: 8rem;
    background: #FE776F;
    text-align: center;
    font-size: 3.4rem;
    color: #FFFFFF;
    line-height: 8rem;
}
/* content2部分 */
.content2 {
    height: 74rem;
    padding: 0 2rem;
    background-color: #fff;
    margin-top: 2rem;
    margin-bottom: 9.5rem;
}
.content2 .img {
    height: 7.2rem;
    display: flex;
    align-items: center;
}
.content2 .img .img-1{
    width: 4.5rem;
    height: 3rem;
    background:url('../images/21.png') no-repeat center center / 100% 100%;
    margin:0 1.5rem;
}
.content2 .img p {
    font-size: 3.4rem;
}
.wp7{
    height: 55rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wp7 div{
    width: 35rem;
    height: 27rem;
    margin-bottom: 1rem;
    overflow: hidden;
}
.wp7 div>div{
    width: 35rem;
    height: 18.4rem;
    position: relative;
}
.wp7 div>div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wp7-1{
    background: url('../images/12.png') no-repeat center center / 100% 140%;
    
}
.wp7-2{
    background: url('../images/13.png') no-repeat center center / 100% 140%;
}
.wp7-3{
    background: url('../images/18.png') no-repeat center center / 100% 140%;
}
.wp7-4{
    background: url('../images/15.png') no-repeat center center / 100% 140%;
}

.wp7  .wp7-11{
    height: 5rem;
    width: 35rem;
    background: #000;
    color: #fff;
    line-height: 5rem;
    font-size: 2.8rem;
    padding-left: 1.5rem;
    opacity: 0.7;
    position: absolute;
    bottom: -1rem;
}
.wp7 div>p{
    font-size: 2.6rem;
    line-height: 3.2rem;
}
.wp8-1 {
   
        width: 69rem;
        height: 8.4rem;
        line-height: 8.4rem;
        background-color: #fe776f;
        font-size: 2.8rem;
        text-align: center;
        color: #fff;
        margin: 2rem auto;
    
}
/* 底部 */
footer {
    height: 9.4rem;
    background: #ffffff;
   
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
   text-align: center;
   z-index: 300;
}
footer div {
    flex: 1;
    font-size: 2.6rem;
   color: #1B1B1B;
   font-family: STHeiti;
}
footer div img {
    width: 4.4rem;
    height: 4.3rem;
    margin-bottom: 1.2rem;
    margin-top: 1rem;
}