iframe {
    width: 100%;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
#iframpage {
    width: 100%;
}
/* 内容区域 */
.head1 {
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.head1 .yuan {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: #999;
    text-align: center;
    line-height: 120px;
    border: 1px solid #999;
    background-color: #fff;
}
.head1 .yuan1 {
    width: 10px;
    height: 10px;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 50%;
}
.head1 .yuan:nth-child(9) {
    background: #99cc00;
    color: #fff;
    border: none;
}
.head1 .box {
    height: 60px;
    width: 1100px;
    border-bottom:  1px solid #999;
    position: absolute;
    z-index:-10;
    top: 60px;
}
.nav {
    width: 100%;
    height: 470px;
    background: #57b7a5;
}
.nav img {
    width: 100%;
    height: 100%;
}
.cont {
    width: 1100px;
    margin: 0 auto ;
    height: auto;
    
}
.box1 {
    height: 1280px;
    background: #f6f6f6;
    padding: 40px 0;
}
.box11 {
    width: 1100px;
    height: 70px;
    border: 1px solid #999;
    margin-bottom: 40px;
}
.box11 ul {
    width: 1100px;
    height: 70px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.box11 ul li {
    width: 130px;
    height: 40px;
    
    text-align: center;
    line-height: 40px;
    color: #999;
}
.box11 ul li:nth-child(1) {
    border: 1px solid #999;
    border-radius: 20px;
    color: #fff;
    background: #00a0e9;
    border: none;
}
.box111 {
    height: 1100px;
}
.box111 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    /* align-content: space-around; */
    
}
.box111 li {
    width: 260px;
    height: 260px;
    
    border: 1px solid #999;
    margin-bottom: 10px;
}
.box111 li img {
    width: 250px;
    height: 250px;
    margin: 5px;
}
