.container {
    width: 1226px;
    margin: 0 auto;
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}
.banner {
    height: 460px;
    position: relative;
}
.box-img,img{
    width: 100%;
    height: 100%;
}
.menu {
    width: 234px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(105, 101, 101, .6);;
}
.menu ul {
    padding: 20px 0;
}
.menu ul li {
    width: 234px;
    height: 42px;
    color: #fff;
    padding-left: 30px;
    line-height: 42px;    
}
.menu ul li:hover {
    background-color: #ff6700;
}
.icon-dayuhao {
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 20px;
}
.zuodayu,.youdayu{
    width: 41px;
    height: 69px;
    position: absolute;
    top: 195px;
    background-image: url(../images/icon-slides.png);
}
.zuodayu {
    left: 234px;
    background-position: -84px 0;
}
.zuodayu:hover{
    background-position: 0 0;
}
.youdayu {
    right: 0;
    background-position: -125px 0;
}
.youdayu:hover {
    background-position: -41px 0;
}